<div class="container">
	<h1>{{pattern name='icon' icon='nitro'}}&nbsp;Nitro example pattern</h1>
	{{pattern name='example'}}

	{{#pattern name='box'}}
		{{pattern name='button'}}
	{{/pattern}}
	{{pattern name='box' modifier='dark'}}
	{{pattern name='cta'}}
</div>
